<!DOCTYPE html>
<html>
<head>
<th:block th:fragment="head(title)">
<meta charset="UTF-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<title th:text="${title}">insert title</title>
<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet"/>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" href="css/main.css"></link>
</th:block>
</head>
<body>
<div class="blog-masthead light-font-color" data-th-fragment="header">
	<div class="container">
		<nav class="blog-nav">
			<span>奥克兰<a href="#">[切换城市]</a></span>
			<span style="float:right;"><a href="#">登录</a> / <a href="#">注册</a></span>
			<span style="float:right;">欢迎您 Norris Zhang</span>
		</nav>
	</div>
</div>
<div class="container">
	<div class="logo-row" data-th-fragment="logoSec">
		<img alt="" src="images/logo.png" />
		<div class="search-bar">
			<form action="#" method="get">
				<div class="input-group">
					<input type="text" name="keyword" placeholder="Takapuna 三室一卫" class="form-control"/>
					<div class="input-group-btn">
						<button type="submit" class="btn btn-danger">搜 <span class="glyphicon glyphicon-search"></span></button>
					</div>
				</div>
			</form>
		</div>
		<button type="button" class="btn btn-lg btn-danger" style="float: right; margin-top: 20px;">发布信息</button>
	</div>
	<div>房产 - 租房</div>
	<hr/>
	<div class="filter">
		<label>区域:</label>
		<select>
			<option>全奥克兰(Auckland)</option>
			<option>奥克兰市(Auckland City)</option>
			<option>北岸市(Northshore City)</option>
			<option>豪拉基湾高尔夫群岛(Hauraki Golf Islands)</option>
			<option>曼努卡市(Manukau City)</option>
			<option>帕帕库拉(Papakura)</option>
			<option>怀塔克雷市(Waitakere City)</option>
			<option>罗德尼(Rodney)</option>
			<option>其它</option>
		</select>
		<select>
			<option>市中心(Auckland Central)</option>
			<option>埃文代尔(Avondale)</option>
			<option>布洛克豪斯湾(Blockhouse Bay)</option>
			<option>易登露台(Eden Terrace)</option>
			<option>埃乐斯利(Ellerslie)</option>
			<option>爱普森(Epsom)</option>
			<option>富丽门湾(Freemans Bay)</option>
			<option>格林因尼斯(Glen Innes)</option>
			<option>其它</option>
		</select>
	</div>
	<hr/>
	<div>
		<div class="row">
			<div class="col-md-4 col-sm-12">
				<div>
					<div class="post-item">
						<img alt="" src="images/prototypeimages/zufang-01.jpg"/>
						<p class="post-item-title">[租房]两房一厅整租</p>
						<p class="post-item-attribute">市中心（Auckland Central）／2017-3-31</p>
						<div class="post-item-price">
							<span>520</span>
							<span class="price-unit">新西兰元/周</span>
						</div>
					</div>
					<img alt="" src="images/pin-3.png" style="width: 28px; position: absolute; top: 0px; left: 50px;"/>
				</div>
			</div>
			<div class="col-md-4 col-sm-12">
				<div>
					<div class="post-item">
						<img alt="" src="images/prototypeimages/zufang-02.jpg"/>
						<p class="post-item-title">[租房]两房一厅整租</p>
						<p class="post-item-attribute">市中心（Auckland Central）／2017-3-31</p>
						<div class="post-item-price">
							<span>520</span>
							<span class="price-unit">新西兰元/周</span>
						</div>
					</div>
					<img alt="" src="images/pin-3.png" style="width: 28px; position: absolute; top: 0px; left: 50px;"/>
				</div>
			</div>
			<div class="col-md-4 col-sm-12">
				<div>
					<div class="post-item">
						<img alt="" src="images/prototypeimages/zufang-03.jpg"/>
						<p class="post-item-title">[租房]两房一厅整租</p>
						<p class="post-item-attribute">市中心（Auckland Central）／2017-3-31</p>
						<div class="post-item-price">
							<span>520</span>
							<span class="price-unit">新西兰元/周</span>
						</div>
					</div>
					<img alt="" src="images/pin-3.png" style="width: 28px; position: absolute; top: 0px; left: 50px;"/>
				</div>
			</div>
			<div class="col-md-4 col-sm-12">
				<div>
					<div class="post-item">
						<img alt="" src="images/prototypeimages/zufang-04.jpg"/>
						<p class="post-item-title">[租房]两房一厅整租</p>
						<p class="post-item-attribute">市中心（Auckland Central）／2017-3-31</p>
						<div class="post-item-price">
							<span>520</span>
							<span class="price-unit">新西兰元/周</span>
						</div>
					</div>
					<img alt="" src="images/pin-3.png" style="width: 28px; position: absolute; top: 0px; left: 50px;"/>
				</div>
			</div>
			<div class="col-md-4 col-sm-12">
				<div>
					<div class="post-item">
						<img alt="" src="images/prototypeimages/zufang-05.jpg"/>
						<p class="post-item-title">[租房]两房一厅整租</p>
						<p class="post-item-attribute">市中心（Auckland Central）／2017-3-31</p>
						<div class="post-item-price">
							<span>520</span>
							<span class="price-unit">新西兰元/周</span>
						</div>
					</div>
					<img alt="" src="images/pin-3.png" style="width: 28px; position: absolute; top: 0px; left: 50px;"/>
				</div>
			</div>
			<div class="col-md-4 col-sm-12">
				<div>
					<div class="post-item">
						<img alt="" src="images/prototypeimages/zufang-06.jpg"/>
						<p class="post-item-title">[租房]两房一厅整租</p>
						<p class="post-item-attribute">市中心（Auckland Central）／2017-3-31</p>
						<div class="post-item-price">
							<span>520</span>
							<span class="price-unit">新西兰元/周</span>
						</div>
					</div>
					<img alt="" src="images/pin-3.png" style="width: 28px; position: absolute; top: 0px; left: 50px;"/>
				</div>
			</div>
		</div>
	</div>
	<div class="pagerframe">
		<div class="pager">
			<a class="prv" href="#">
				<span>上一页</span>
			</a>
			<a href="#">
				<span>1</span>
			</a>
			<strong><span>2</span></strong>
			<a href="#">
				<span>3</span>
			</a>
			<a href="#">
				<span>4</span>
			</a>
			<a href="#">
				<span>5</span>
			</a>
			<a href="#">
				<span>6</span>
			</a>
			<a href="#">
				<span>7</span>
			</a>
			<a class="next" href="#">
				<span>下一页</span>
			</a>
		</div>
	</div>
</div>
<div class="blog-footer" data-th-fragment="footer">
	<span>&copy; 2017 xinxilanr.com</span>
	<span><a href="#">关于我们</a> | <a href="#">联系我们</a> | <a href="#">加入我们</a> | <a href="#">帮助中心</a></span>
</div>
<th:block th:fragment="commonJs">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-3.2.0.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</th:block>
</body>
</html>