<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<title>Insert title here</title>
<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet"/>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" href="css/main.css"></link>
<link rel="stylesheet" href="css/list.css"/>
</head>
<body>
<div class="blog-masthead light-font-color">
	<div class="container">
		<nav class="blog-nav">
			<span>奥克兰<a href="#">[切换城市]</a></span>
			<span style="float:right;"><a href="#">登录</a> / <a href="#">注册</a></span>
			<span style="float:right;">欢迎您 Norris Zhang</span>
		</nav>
	</div>
</div>
<div class="container">
	<div>
		<img alt="" src="images/logo.png" />
		<button type="button" class="btn btn-lg btn-danger" style="float: right; margin-top: 20px;">发布信息</button>
	</div>
	<div>房产 - 租房</div>
	<hr/>
	<div>
		<div class="row">
			<div class="col-md-4 col-sm-12">
				<div>
					<div class="post-item">
						<img alt="" src="images/prototypeimages/zufang-01.jpg"/>
						<p class="post-item-title">[租房]两房一厅整租</p>
						<p class="post-item-attribute">市中心（Auckland Central）／2017-3-31</p>
						<div class="post-item-price">
							<span>520</span>
							<span class="price-unit">新西兰元/周</span>
						</div>
					</div>
					<img alt="" src="images/pin-3.png" style="width: 28px; position: absolute; top: 0px; left: 50px;"/>
				</div>
			</div>
			<div class="col-md-4 col-sm-12">
				<div>
					<div class="post-item">
						<img alt="" src="images/prototypeimages/zufang-02.jpg"/>
						<p class="post-item-title">[租房]两房一厅整租</p>
						<p class="post-item-attribute">市中心（Auckland Central）／2017-3-31</p>
						<div class="post-item-price">
							<span>520</span>
							<span class="price-unit">新西兰元/周</span>
						</div>
					</div>
					<img alt="" src="images/pin-3.png" style="width: 28px; position: absolute; top: 0px; left: 50px;"/>
				</div>
			</div>
			<div class="col-md-4 col-sm-12">
				<div>
					<div class="post-item">
						<img alt="" src="images/prototypeimages/zufang-03.jpg"/>
						<p class="post-item-title">[租房]两房一厅整租</p>
						<p class="post-item-attribute">市中心（Auckland Central）／2017-3-31</p>
						<div class="post-item-price">
							<span>520</span>
							<span class="price-unit">新西兰元/周</span>
						</div>
					</div>
					<img alt="" src="images/pin-3.png" style="width: 28px; position: absolute; top: 0px; left: 50px;"/>
				</div>
			</div>
			<div class="col-md-4 col-sm-12">
				<div>
					<div class="post-item">
						<img alt="" src="images/prototypeimages/zufang-04.jpg"/>
						<p class="post-item-title">[租房]两房一厅整租</p>
						<p class="post-item-attribute">市中心（Auckland Central）／2017-3-31</p>
						<div class="post-item-price">
							<span>520</span>
							<span class="price-unit">新西兰元/周</span>
						</div>
					</div>
					<img alt="" src="images/pin-3.png" style="width: 28px; position: absolute; top: 0px; left: 50px;"/>
				</div>
			</div>
			<div class="col-md-4 col-sm-12">
				<div>
					<div class="post-item">
						<img alt="" src="images/prototypeimages/zufang-05.jpg"/>
						<p class="post-item-title">[租房]两房一厅整租</p>
						<p class="post-item-attribute">市中心（Auckland Central）／2017-3-31</p>
						<div class="post-item-price">
							<span>520</span>
							<span class="price-unit">新西兰元/周</span>
						</div>
					</div>
					<img alt="" src="images/pin-3.png" style="width: 28px; position: absolute; top: 0px; left: 50px;"/>
				</div>
			</div>
			<div class="col-md-4 col-sm-12">
				<div>
					<div class="post-item">
						<img alt="" src="images/prototypeimages/zufang-06.jpg"/>
						<p class="post-item-title">[租房]两房一厅整租</p>
						<p class="post-item-attribute">市中心（Auckland Central）／2017-3-31</p>
						<div class="post-item-price">
							<span>520</span>
							<span class="price-unit">新西兰元/周</span>
						</div>
					</div>
					<img alt="" src="images/pin-3.png" style="width: 28px; position: absolute; top: 0px; left: 50px;"/>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="blog-footer">
	<span>&copy; 2017 xinxilanr.com</span>
	<span><a href="#">关于我们</a> | <a href="#">联系我们</a> | <a href="#">加入我们</a> | <a href="#">帮助中心</a></span>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-3.2.0.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>