<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<title>用户激活</title>
<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet"></link>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<link rel="stylesheet" href="css/main.css"></link>
</head>
<body>
<div class="blog-masthead light-font-color">
	<div class="container">
		<nav class="blog-nav">
			<span>奥克兰<a href="#">[切换城市]</a></span>
			<span style="float:right;"><a href="#">登录</a> / <a href="#">注册</a></span>
			<span style="float:right;">欢迎您 Norris Zhang</span>
		</nav>
	</div>
</div>
<div class="container">
	<div>
		<img alt="" src="images/logo.png" />
		<button type="button" class="btn btn-lg btn-danger" style="float: right; margin-top: 20px;">发布信息</button>
	</div>
	<div>用户注册 > 激活</div>
	<hr/>
	<div>
		<form action="#" method="post">
			<div><label for="nicknameId">昵称：</label><input type="text" name="nickname" id="nicknameId" placeholder="昵称用于在网络上标识您" style="width: 180px;"/></div>
			<div><label for="activationCodeId">激活码：</label><input type="text" name="activationCode" id="activationCodeId" placeholder="请查阅邮箱，或联系管理员" style="width: 180px;"/></div>
			<div><button type="submit" class="btn btn-success">激活</button></div>
		</form>
	</div>
</div>
<div class="blog-footer">
	<span>&copy; 2017 xinxilanr.com</span>
	<span><a href="#">关于我们</a> | <a href="#">联系我们</a> | <a href="#">加入我们</a> | <a href="#">帮助中心</a></span>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-3.2.0.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>