<!DOCTYPE html>
<html>
<head>
<th:block th:include="segments/layout :: head(title='用户登录')"></th:block>
</head>
<body>
<div class="blog-masthead light-font-color" data-th-replace="segments/layout :: header"></div>
<div class="container">
	<div class="logo-row" data-th-replace="segments/layout :: logoSec"></div>
	<div>用户登录</div>
	<hr/>
	<div>
		<form id="formId" action="#" method="post">
			<div><label for="emailId">邮箱：</label><input type="email" name="email" id="emailId" placeholder="登录邮箱" style="width: 180px;"/></div>
			<div><label for="passwordId">密码：</label><input type="password" name="password" id="passwordId" placeholder="登录密码" style="width: 180px;"/></div>
			<div><input type="checkbox" name="rememberMe" id="rememberMeId"/><label for="rememberMeId">下次自动登录</label></div>
			<div><button type="submit" class="btn btn-success">登录</button><button type="button" class="btn btn-xs btn-link">找回密码</button></div>
			<div><button type="button" class="btn btn-xs btn-link" style="margin-left: 168px;">免费注册</button></div>
		</form>
	</div>
</div>
<div class="blog-footer" data-th-replace="segments/layout :: footer"></div>
<th:block th:include="segments/layout :: commonJs"></th:block>
<script type="text/javascript" src="js/jquery.validate.min.js"></script>
<script type="text/javascript">
$(function(){
	$("#formId").validate({
		rules: {
			email: {
				required: true,
				email: true
			},
			password: {
				required: true,
				minlength: 6
			}
		},
		messages: {
			email: {
				required: "请输入login email",
				email: "email格式不正确"
			},
			password: {
				required: "请输入密码",
				minlength: "密码最少6位"
			}
		}
	});
});
</script>
</body>
</html>